

.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.App {
  text-align: left;
}

.App head text {
  font-family: "Montserrat", sans-serif
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-barra {
  border-top: 10px solid rgb(7,19,50,0.3);
}

.App-grid {
  border:2px solid #1d3557;
  inline-size: 90%;
  margin-inline: auto;
  margin-top:14px;
  /* max-inline-size: 60em; */
  max-inline-size: 67em;
  text-align: center;
  /* padding: 5px; */
  /* box-shadow: inset 0 13px 0 0 rgb(0, 2, 3); */
}

.App-cuerpo {
  padding: 0 18px ;
  text-align: justify;
}

.App-center {
  /* padding: 50px 0; */
  text-align:center;
  /* width: 200px; */
  margin:0 auto;
  /* vertical-align: top; */
  /* background-color: aqua; */
}

.App-ul {
  list-style: none outside none; 
  color:white;
  /* list-style: none; */
  /* text-align: center; */
  background-color: #1d3557;
  background-position: center;
  justify-items: center;
  padding: 12px 10px; 
  text-align: center;
  justify-content: space-between;
  margin-top: -1px;
  margin-left: -1px;
  /* display: flex; */
  /* align-items: center; */
}

.App-ul li {
  margin: 0px 30px ; 
  /* flex-basis: 0;
  flex-grow: 1; */
  color: White;
  text-align: center;
  display:inline-block
  /* float:center; */
}

.App-ul li a {
  color: white;
  text-align: center;
  /* display: inline-block; */
}


.active {
  background-color: rgb(199, 198, 198);
  border-radius: 10px 10px 0px 0px;
  color: rgb(44, 6, 6);
  padding:7.7px 60px;
  background-position: bottom;
}

/* .App-container {
  text-align: center;
} */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-container {
  margin: 7px;
  text-align: justify;
}
.App-header2 {
  background-image:url('../../images/imagenmate.png');
  text-align: center;
	width: 100%;
  height: 200px;
  background-size:cover; 
  vertical-align: middle;
}
.App-prueba5 {
  width: 95%;
  height: 75%;
  position:sticky ;
  top: 50%;
  left: 50%;
}



.App-resena {
    margin-inline: auto;
    max-inline-size: 48em;
    /* padding: 10px 10px; */
    text-align: left;
    vertical-align: top;
}

.App-resena tr td:first-child {
  border-collapse: collapse;
  border-right: 5px solid rgb(7,19,50,0.3) ;
  text-align: right;
  /* padding-right: 10px; */
}

.App-resena tr td p {
  /* background-size: 50px 50px; */
  /* padding-right: 20px; */
  margin:0px -10px;
  margin-top: -20px;
  border-top: 16px solid #071332;
  padding: 0 15px;
  padding-top: 10px;
  
}

.anios {
  font-size: 50px;
  /* border-bottom: 10px solid #071332; */
  border-width: 100%;
  background-size: 0px 50px;
  /* padding: 10px 0px; */
  margin: 0px 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  /* letter-spacing:0.05em; */
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px ;
  -webkit-text-stroke-color: #1D3557;
}

.App-creditos {
  margin:5px auto; 
  border-collapse: collapse;
  text-align: center; 
}
.App-creditos th {
  border: solid 1px #1D3557;
  background-color: #1D3557;
  color: white
}
.App-creditos td {
  border: solid 1px #1D3557;
}

.App-creditos td:last-child {
  text-align: left;
}

.App-archivo {
  list-style-type: circle ;
  /* list-style-image: url(vineta.png); */
  max-height: min-content;
  list-style-position: inside;
}

.App-rectangulo {
  background: rgb(7, 19, 50, 0.3);
  height: 10px;
  width: 100%;
  margin-top: -10px;
}

.App-rectangulo2{
    background: #1D3557;
    height: 10px;
    width: 100%;
    margin-bottom: -10px ;
}

.App-profes {
    display: inline-block;
    /* font-size: 11pt; */
    height: max-content;
    padding: 5px 5px;
    width: 455px;
    margin:0px auto;
    text-align: left;
    /* margin-inline: auto; */
}
.App-profes table {
    border: solid 1px #1D3557;
    border-collapse : collapse;
    /* padding:5px; */
}

.App-profes th {
    background-color: #1D3557;
    color: white;
    text-align: left;
    padding:7px;
    width:455px;
}
/* .App-profes tr td:first-child {
  border-right:2px solid #c4c4c4; 
} */
.App-profes-images {
  background-image:url('../../images/fotoblanco.png');
  /* background-image:url('fotomunguia.jpeg'); */
  background-repeat: no-repeat;
  background-size: 100px 120px;
  background-position: center;
  /* vertical-align: middle; */
  /* height: 140px; */
  width: 115px;
  object-fit: contain;
  border-right: 5px slightseagreen;
}

.App-profes-nom {
  padding:7px;
  padding-bottom: 0;
  font-size: 13pt;
}

.App-profes-td {
  padding:7px;
  padding-top: 5px;
}

.App-profes-td ul {
  list-style:none;
  margin: 0;
  padding: 4px;
  font-size: 11pt;
  
}

.App-profes-td ul li{
    content: "";
    border-left: 4px solid #CCC;
    padding-left: 12px;
    line-height: 180%;
    border-bottom: 1px dashed #CCC;
    margin-left: 2px;
    text-indent: -4px;
}

.App-profes-images2 {
  background-image:url('../../images/fotoblanco.png');
  background-repeat: no-repeat;
  background-size: 100px 125px;
  background-position: center;
  vertical-align: top;
  width: 110px;
}
.App-profes-imagesm {
  background-image:url('../../images/fotomunguia.jpeg');
  background-repeat: no-repeat;
  background-size: 100px 125px;
  background-position: center;
  vertical-align: top;
  /* height: 140px; */
  width: 110px;
  /* object-fit: contain; */
}

/* FOOTER */
.App-footer {
  background-color:  #1d3557 ;
  color: white;
  padding: 15pt;
}
