.tab-list {
  /* padding: 0px 10px; */
  margin: -1px -16px 0px -16px;
  font-size: 18px;
  text-align: center;
  background-color: #1d3557;
  color: white;
  cursor: pointer;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  padding: 0.4rem 2.25rem;
}

.tab-list-active {
  background-color: rgb(255, 255, 255);
  border-top: 3px solid #1d3557;
  border-width: 3px 1px 0 1px;
  border-radius: 10px 10px 0px 0px;
  color: #1d3557;
  font-size: 20px;
}

.App head text {
  font-family: "Montserrat", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.icons {
  font-size: 1.2em;
  color: rgb(7, 19, 50, 0.3);
}

.icons2 {
  font-size: 1.4em;
  color: #1d3557;
}

.App-barra {
  border-top: 10px solid rgb(7, 19, 50, 0.3);
}

.App-grid {
  border: 2px solid #1d3557;
  inline-size: 90%;
  margin-inline: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  /* max-inline-size: 60em; */
  max-inline-size: 67em;
  text-align: left;
  /*padding: 0px 15px;*/
}

.App-cuerpo {
  text-align: left;
}

.tab-content {
  padding: 0 15px;
  overflow: auto;
}

.App-center {
  /* padding: 50px 0; */
  text-align: center;
  /* width: 200px; */
  /* margin: 0 auto; */
  /* vertical-align: top; */
}

.App-ul {
  list-style: none outside none;
  color: white;
  /* list-style: none; */
  /* text-align: center; */
  background-color: #1d3557;
  background-position: center;
  justify-items: center;
  padding: 12px 10px;
  text-align: center;
  justify-content: space-between;
  margin-top: -1px;
  margin-left: -1px;
  /* display: flex; */
  /* align-items: center; */
}

.App-ul li {
  margin: 0px 30px;
  /* flex-basis: 0;
  flex-grow: 1; */
  color: White;
  text-align: center;
  display: inline-block;
  /* float:center; */
}

.App-ul li a {
  color: white;
  text-align: center;
  /* display: inline-block; */
}

/* .App-container {
  text-align: center;
} */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-container {
  margin: 7px;
  text-align: justify;
}
.App-header2 {
  background-image: url("../../images/imagenmate.png");
  text-align: center;
  width: 100%;
  height: 200px;
  background-size: cover;
  vertical-align: middle;
}
.App-prueba5 {
  width: 95%;
  height: 75%;
  position: sticky;
  top: 50%;
  left: 50%;
}

.App-resena {
  margin-inline: auto;
  max-inline-size: 60em;
  /* padding: 10px 10px; */
  text-align: left;
  vertical-align: top;
  font-size: 13px;
}

.App-resena tr td:first-child {
  border-collapse: collapse;
  border-right: 5px solid rgb(7, 19, 50, 0.3);
  text-align: right;
  /* padding-right: 10px; */
}
/* .App-resena p {
  
} */

.App-resena-borde {
  margin: 0px -10px;
  margin-top: -28px;
  border-top: 16px solid #071332;
  padding: 0 15px;
  padding-top: 10px;
}
/* .App-resena tr td p {
    background-size: 50px 50px; 
  padding-right: 20px; 
  margin:0px -10px;
  margin-top: -28px;
  border-top: 16px solid #071332;
  padding: 0 15px;
  padding-top: 10px;
  
}  */

.anios {
  font-size: 50px;
  /* border-bottom: 10px solid #071332;
  border-width: 100%;
  background-size: 0px 50px;
  /* padding: 10px 0px; */
  margin: 0px 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  /* letter-spacing:0.05em; */
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #1d3557;
}

.App-creditos {
  margin: 5px auto;
  border-collapse: collapse;
  text-align: center;
}
.App-creditos th {
  border: solid 1px #1d3557;
  background-color: #1d3557;
  color: white;
}
.App-creditos td {
  border: solid 1px #1d3557;
}

.App-creditos td:last-child {
  text-align: left;
}
.App-creditos tr:nth-child(odd) {
  background-color: rgba(204, 204, 204, 0.959);
}

.App-archivo {
  /* list-style-type: circle ; */
  /* list-style-image: url(vineta.png); */
  max-height: min-content;
  list-style-position: inside;
}
/* .App-archivo li:before {
  font-family: 'FontAwesome';
    content: '\f15c';
} */

.App-profes-td2 {
  padding: 7px;
  /* padding-top: 5px; */
  /* padding-right: 0; */
  text-align: left;
  /* position: static; */
}

.App-profes-td2 ul {
  list-style: none;
  margin: 0;
  padding: 4px;
  font-size: 10pt;
  text-align: left;
}

.App-profes-td2 ul li {
  content: "";
  /* border-left: 4px solid #CCC; */
  padding-left: 12px;
  line-height: 180%;
  border-bottom: 1.8px dashed #ccc;
  margin-left: 2px;
  text-indent: -10px;
  /* border-right: 1.5px dashed #ccc; */
}

.App-rectangulo {
  background: rgb(7, 19, 50, 0.3);
  height: 10px;
  width: 100%;
  margin-top: -8px;
}

.App-rectangulo2 {
  background: #1d3557;
  height: 10px;
  width: 100%;
  /* margin-bottom: -5px ; */
  margin-top: 15px;
}

.App-profes {
  display: inline-block;
  /* font-size: 11pt; */

  height: max-content;
  padding: 5px 5px;
  width: 455px;
  margin: 0px auto;
  text-align: left;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,.045);
  overflow: auto;
   border-radius: 0.25rem;
  /* margin-inline: auto; */
}

.App-profes table {
  padding: 5px;
  min-width: 445px;
  min-height: 246.5px;
  /* paddi */
  text-align: left;
}

.img-modal {
  width: 240px;
  height: 336px;
  overflow:hidden;
  margin: 10px auto;
}

/*
.img-modal img {
  width: 249px;
  height: 338px;
  margin: 0px -5px 0px -5px;
}
*/

.img-modal img {
    float: left;
    width:  243.0px;
    height: 338px;
    object-fit: cover;
}


.App-profes th {
  background-color: #1d3557;
  color: white;
  text-align: left;
  padding: 7px;
  width: 455px;
}
/* .App-profes tr td:first-child {
  border-right:2px solid #c4c4c4; 
} */
.App-profes-images {
  background-image: url("../../images/fotoblanco.png");
  /* background-image:url('fotomunguia.jpeg'); */
  background-repeat: no-repeat;
  background-size: 100px 120px;
  background-position: center;
  /* vertical-align: middle; */
  /* height: 140px; */
  width: 115px;
  object-fit: contain;
  border-right: 5px slightseagreen;
}

.App-profes-nom {
  padding: 7px;
  padding-bottom: 0;
  font-size: 13pt;
}

.App-profes-td {
  padding: 7px;
  /* padding-top: 5px; */
  /* padding-right: 0; */
  text-align: left;
  /* position: static; */
}

.App-profes-td ul {
  list-style: none;
  margin: 0;
  padding: 4px;
  font-size: 10pt;
  text-align: left;
  width: 305px;
}

.App-profes-td ul li {
  content: "";
  border-left: 4px solid #ccc;
  padding-left: 12px;
  line-height: 180%;
  border-bottom: 1.8px dashed #ccc;
  margin-left: 2px;
  text-indent: -4px;
  /* border-right: 1.5px dashed #ccc; */
}

.App-profes-td ul li .tag {
  font-weight: 500;

}

.App-profes-td ul li:nth-child(2) {
  max-height: 50px;
  overflow: auto;
}
.App-profes-td ul .resenia {
  color: #08698f;
  cursor: pointer;
}
.App-profes-images2 {
  background-image: url("../../images/fotoblanco.png");
  background-repeat: no-repeat;
  background-size: 100px 125px;
  background-position: center;
  vertical-align: middle;
  width: 110px;
}
.App-profes-imagesm {
  background-image: url("../../images/fotomunguia.jpeg");
  background-repeat: no-repeat;
  background-size: 100px 125px;
  background-position: center;
  vertical-align: top;
  /* height: 140px; */
  width: 110px;
  /* object-fit: contain; */
}

.cont-img {
  /*
  width: 105px;
  height: 147px;
  overflow: hidden;
  */
}
.App-profes img {
  /*height: 147px;*/
    float: left;
    width:  110px; /*111px;*/
    height: 154px; /*148px;*/
    object-fit: cover;
}


/* FOOTER */
.App-footer {
  background-color: #1d3557;
  color: white;
  padding: 15pt;
}

.correo-oculto {
  unicode-bidi:bidi-override;
  direction: rtl;
}
@media (max-width: 768px) {
  .App-profes {
    width: 100%;
  }
  .App-profes table {
    width: 100%;
    min-width: 50px;
  }
  .App-profes-td ul {
    width: auto;
  }
}
