/*foto-grupo*/
.foto-grupo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}
.foto-analisis-numerico {
  width: 60%;
}
.foto-profesor {
  display: block;
  margin-right: auto;
  float: right;
  /*max-width: 95%;
  min-width: 150px;*/
  height: 154px;/*150px*/
  width: 120px;/*120p*/
  object-fit: cover;
  /*background-size: 100px 120px;*/
  /*padding-left: 35px;*/
}
.foto-profesorX {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: right;
  height: 154px;/*150px*/
  width: 120px;/*120p*/
  object-fit: cover;
  /*padding-left: 35px;*/
}
.foto-publicaciones {
  display: block;
  margin-left: 15px;
  margin-right: auto;
  /* float: right; */
  height: 160px;
}
.foto-eventos {
  display: block;
  /*margin-left: 10px;*/
  margin-right: auto;
  width: 400px;
   /*float: right; */
}

.itemLeft {
  /*width: 12vw;*/
  width: 20%;
  padding: 5px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
  /*background-color: green;*/
  /*background-color: rgba(111,41,97,.3);*/
  /*border: 2px solid rgba(111,41,97,.5);*/
  display: inline-block;
  vertical-align: top;
  color: #00427a;
  font-style: italic;
  font-weight: bold;
}

.cell {
  /*background-color: purple;*/
  flex: 390px;
  /*border: solid;*/
  padding-left: 35px;
  padding-right: 0px;
  /*border-color: black;*/
}

.grid {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%; /*85%*/
  /*margin-left: 14%;*/

  
}
.itemRight {
  /*width: 30vw;*/
  width: 72%;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
  /*background-color: pink;*/
  /*background-color: rgba(111,41,97,.3);*/
  /*border: 2px solid rgba(111,41,97,.5);*/
  display: inline-block;
  vertical-align: middle;
  /*min-width: 9em;*/
  /*float: none;*/
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tit {
  color: #007a91;
  font-weight: bold;
  font-size: 16px;
  width: 56%;
}
.tit a {
  text-decoration: none;
  color: #007a91;
}
.justify {
  text-align: justify;
  text-justify: inter-word;
}
.tit2 {
  color: #007a91;
  font-size: 16px;
}

/*line- dotted*/
.dotted {
  border-top: 1px dotted gray;
}

/*publicaciones*/
.itemRight2 {
  margin-left: auto;
  margin-right: auto;
  padding-right: 3vw;
  width: 10vw;
  /*background-color: purple;*/
  /*background-color: rgba(111,41,97,.3);*/
  /*border: 2px solid rgba(111,41,97,.5);*/
  display: inline-block;
  vertical-align: top;
  color: #00427a;
  font-style: italic;
  font-weight: bold;
}


.itemLeft3 {
  /*width: 38vw;*/
  flex: 420px;
 
  /*background-color: green;*/
  /*background-color: rgba(111,41,97,.3);*/
  /*border: 2px solid rgba(111,41,97,.5);*/
  vertical-align: middle;
  text-align: justify;
  text-justify: inter-word;
  flex-direction: row;
  flex-wrap: wrap;
  /*width: 70%;*/
 /* width: 85%; /*85%*/
  /*margin-left: 14%;*/

}


.eventoss {
  flex: 320px;
  margin-left: auto;
  margin-right: auto;
  /*padding-right: 3vw;*/
  /*width: 10vw;*/
  /*background-color: purple;*/
  /*background-color: rgba(111,41,97,.3);*/
  /*border: 2px solid rgba(111,41,97,.5);*/
  /*display: inline-block;*/
  vertical-align: top;
  color: #00427a;
  /*width: 50px;*/
  /*height: 50px;*/
  width: 25%; /*85%*/
  margin-left: 2%;
}



.eventoss img {
  cursor: zoom-in;
}


.modal-image .modal-dialog {
  max-width: 800px;
}
.modal-image img {
  width: 100%;
}
.grid {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%; /*85%*/
  /*margin-left: 14%;*/

  
}


.itemLeft2 {
  width: 38vw;
  padding: 3px;
  /*background-color: green;*/
  /*background-color: rgba(111,41,97,.3);*/
  /*border: 2px solid rgba(111,41,97,.5);*/
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  text-justify: inter-word;
}

/*-----------*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color: #aaa;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .tit {
    width:100%;
  }
  .itemLeft2 {
    width: 100%;
  }

}
@media screen and (max-width: 760px) {
  .foto-grupo {
    max-width: 100%;
  }
  .foto-analisis-numerico {
    width: 90%;
  }
}

.icons2 {
  font-size: 1.4em;
  color: #1d3557;
}

.t-stroke-shadow {

      /* text-shadow: -0.7px 0.7px #ffffff, -0.7px -0.7px #ffffff, -0.7px -0.7px #ffffff, 1.75px 1.75px #f3f3f2, 3.5px 3.5px #bbbbbb;
       */
  text-shadow: -0.7px 0.7px #ffffff,-0.7px -0.7px #ffffff, -0.7px -0.7px #ffffff, -0.7px -0.7px #ffffff, 2.5px 2.5px #bbbbbb;
}
  
.boxVisitar {
  background-color: #AE263A;
  color: white;
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-left: 35%;
  width: 25%;
 
  padding: 10px;
}

.miembros {
  align-items: center;
  align-content: center;
  /*background-color: pink;*/
  text-align: center;
  margin: auto;
}

