.App {
    font-family: sans-serif;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
  }
  
  h3 {
    margin-top: 0;
  }
  
  .tabs-component [role="tablist"] {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    position: relative;
  }
  
  .tabs-component [role="tablist"] button {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0.5rem 4rem;
    cursor: pointer;
    margin: 0 1px;
    outline: none;
    background-color: #fff;
    transition: border 0.2s ease-in-out 0s;
  }
  
  .tabs-component [role="tablist"] button.active,
  .tabs-component [role="tablist"] button:focus,
  .tabs-component [role="tablist"] button:hover {
    border-width: 1px;
    border-color: #e9ecef #e9ecef #ce2222;
    background-color: rgb(204 204 204 / 75%);
  }
  
  .tabs-component [role="tablist"] button.active {
    /*text-align: left;*/
    color: #f8f8f8; /*#495057*/
    background-color: #BD1E2C;
  }
  
  .tabs-component [role="tabpanel"] {
    text-align: left;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px rgb(204 204 204 / 75%);
  }
  
  .tabs-component.vertical {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .tabs-component.vertical [role="tablist"] {
    flex-direction: column;
  }
  
  .tabs-component.vertical [role="tabpanel"] {
    flex: 1;
  }
  
  .tabs-component [role="tablist"] button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
  }
  
  .tabs-component.vertical [role="tablist"] button.active,
  .tabs-component.vertical [role="tablist"] button:focus,
  .tabs-component.vertical [role="tablist"] button:hover {
    border-color: #e9ecef transparent #e9ecef #b41c1c;
  }
  


/*styles table*/
table {
  width:100%;
}
td {
  width: 10%;
  position:relative;
}
td:after{
  content:'';
  display:block;
  margin-top:100%;
}
td .content {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  font-size: 15px;
  text-align: center;
  padding: 20px 0px;
}

.blue {
background:#D3DFEE;
}

.purple {
background:#EAD4F0;
}

.greenwater {
background:#DCF1EE
}

.greenlimon {
background:#C6F3C6;
}


.yellow {
background:#FDE5BC
}

.darkblue {
background: #7095C2
}