.a-link {
  color: #4c4a48;
  margin-left: 10px;
}

.color-main {
  color: #1d3557;
}

/* .icons ul{
  list-style: none;
  margin-left: 10px;
  padding: 4px;
  font-size: 10pt;
  text-align: left;
}

.icons ul li {
  content: "";
} */
